.footer {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 30px;
  margin-top: 30px;
  display: flex;
}

.footerTableRow {
  text-align: left;
  width: 25%;
  vertical-align: top;

}

.icon {
  margin: 5px;
}

.footerBackground {
  background-color: aliceblue;

}

.logoFooter {
  width: 100%;
}

.logoFooter img {
  width: 80px;
}

a {
  color: #0060B6;
  text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

.SoMe {
  text-align: center;
}