nav {
    height: 100px;
    width: 100%;
    align-items: end;
    display: flex;
    background-color: black;
    padding-bottom: 10px;
}

.header {
    width: 100%;
    margin: auto;
}

.firstRow {
    padding-left: 20px;
    width: 40%;
    display: flex;
}

.firstRow > h5 {
    padding: 10px;
    display: inline-block;
}

.lastRow {
    padding-right: 20px;
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.lastRow > h5 {
    padding: 10px;
    text-align: right;
    display: inline-block;
}

.logo {
    width: 20%;
    text-align: center;
    position: relative;
    top: 50%;
}

.roundedLogo {
    border-radius: 100px;
}

#basic-menu ul {
    color: white;
    background-color: lightslategrey;
}

#basic-menu li:hover {
    color: lightblue; 
    text-decoration:none; 
    cursor:pointer;  
}

.menuButton {
    align-items: end;
    display: flex;
}

.menuButton button {
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.menuButton span {
    margin: 0px;
    color: white;
}

.menuButton:hover span {
    color: lightblue; 
}

.menuButton:hover h5{
    color: lightblue; 
}